*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #000;
    
}


h1 {
    padding: 10px 0 10px 20px;
    color: #f8f9fa;
    font-weight: 400;
    font-size: 4.0rem;
}

ul {
    padding-left: 20px;

}

.botao-principal {
    display: flex;
    margin: 10px 0;
    max-width: 100px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.botao-principal-click {
    width: 100px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #f8f9fa;
    outline: none;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 8px;
    color: #f8f9fa;
    list-style-type: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.botao-principal-click:hover {
    border: 1px solid #212529;
    background-color: #212529;
    border-radius: 10px;
}

.texto-botao-familia {
    color: #212529;
}


main {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.tela-ativada {
    background-image: url("img/carroVersao1.jpg");

}

.imagem-carro {

    background-image: url("./img/carroVersao1.jpg");
}
.imagem-casa {
    background-image: url("./img/casaVersao1.jpg");

}
.imagem-familia {
    background-image: url("./img/familiaVersao-1.jpg");

}
.imagem-pai-e-filha {
    background-image: url("./img/paifilhaVersao1.jpg");

}



@media (max-width: 447px) {
    .tela-ativada {
        background-image:url("img/carro-667.jpg");
    }

    .imagem-carro {

        background-image: url("./img/carro-667.jpg");
    }

    
}